@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FCF6EF;
}
.linear-saumon {
  background: #FDC0B1 linear-gradient(180deg, rgba(144, 144, 144, 0.20) 0%, rgba(253, 192, 177, 0.20) 100%);
}
.linear-background {
  background: linear-gradient(180deg, rgba(144, 144, 144, 0.20) 0%, rgba(252, 246, 239, 0.20) 100%);
}
.linear-yellow {

  background: linear-gradient(180deg, rgba(144, 144, 144, 0.20) 0%, rgba(255, 255, 0, 0.20) 100%);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@layer base {
  @font-face {
    font-family: 'Clash';
    src: url('/static/fonts/ClashDisplay-Regular.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Bold';
    src: url('/static/fonts/ClashDisplay-Bold.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Medium';
    src: url('/static/fonts/ClashDisplay-Medium.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Extra';
    src: url('/static/fonts/ClashDisplay-Extralight.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Semibold';
    src: url('/static/fonts/ClashDisplay-Semibold.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Light';
    src: url('/static/fonts/ClashDisplay-Light.otf') format('truetype');
  }
  @font-face {
    font-family: 'kate';
    src: url('/static/fonts/Kate-Display.otf') format('truetype');
  }
  @font-face {
    font-family: 'kate-medium';
    src: url('/static/fonts/Kate-Medium.otf') format('truetype');
  }
  @font-face {
    font-family: 'kate-black';
    src: url('/static/fonts/Kate-Black.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-medium';
    src: url('/static/fonts/NeueHelveticaBQMedium.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-semi';
    src: url('/static/fonts/NeueHelveticaBQHeavy.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-bold';
    src: url('/static/fonts/NeueHelveticaBQBold.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-extra';
    src: url('/static/fonts/NeueHelveticaBQBlack.otf') format('truetype');
  }
}

/* style.css */
/* style.css */
.bg_slider {
  /* --initialTextColor: #FF0101;
  --slideTextColor: #0071F3; */

  --initialBgColor: #F8FAD2;
  --slideBgColor: #FDC0B1;

  /* color: var(--initialTextColor); */

  background-image: linear-gradient(90deg,
      var(--initialBgColor) 0%,
      var(--initialBgColor) 50%,
      var(--slideBgColor) 50%,
      var(--slideBgColor) 100%);
  background-size: 400%;
  transition: background-position 1.2s cubic-bezier(.47, .1, 1, .63);
  transition-delay: 0.0s;
}

.bg_slider.hovered {
  /* color: var(--slideTextColor); */
  background-color: var(--slideBgColor);
  cursor: pointer;
  background-position: 100% -50%;
}

.move-left-to-right {
  animation-name: moveLeftToRight;
  animation-duration: .8s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 2s;
  animation-fill-mode: forwards; 
  text-align: left;
  margin-left: 0;
  width: auto;
  opacity: 1;
  color: #FF0101;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(0);
    text-align: left;
    color: #FF0101; 
    opacity: 1;
  }
  45% {
    color: #FF0101; 
    opacity: 0.6;
  }
  55% {
    color: #0071F3; 
    opacity: 0.6;
  }
  100% {
    transform: translateX(100%);
    text-align: right;
    color: #0071F3; 
    opacity: 1;
  }
}

