@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FCF6EF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@layer base {
  @font-face {
    font-family: 'Clash';
    src: url('/static/fonts/ClashDisplay-Regular.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Bold';
    src: url('/static/fonts/ClashDisplay-Bold.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Medium';
    src: url('/static/fonts/ClashDisplay-Medium.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Extra';
    src: url('/static/fonts/ClashDisplay-Extralight.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Semibold';
    src: url('/static/fonts/ClashDisplay-Semibold.otf') format('truetype');
  }
  @font-face {
    font-family: 'Clash-Light';
    src: url('/static/fonts/ClashDisplay-Light.otf') format('truetype');
  }
  @font-face {
    font-family: 'kate';
    src: url('/static/fonts/Kate-Display.otf') format('truetype');
  }
  @font-face {
    font-family: 'kate-medium';
    src: url('/static/fonts/Kate-Medium.otf') format('truetype');
  }
  @font-face {
    font-family: 'kate-black';
    src: url('/static/fonts/Kate-Black.otf') format('truetype');
  }
  @font-face {
    font-family: 'neue-medium';
    src: url('/static/fonts/NeueHelveticaBQMedium.otf') format('truetype');
  }
}
